<div class="edit-text">Editing Book</div>

<%= form_with model: Book.new do |f| %>
<form>
<div class="edit-text-content">Title</div>
<%= f.text_field :title %>

<div class="edit-text-content">Body</div>
<%=f.text_area :body %>

<div>
<%=f.submit 'Updete Book' %>
</div>
</form>
<% end %>