/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
* {
 margin:0;
 padding:0;
}

body{
 margin:33px 33px 33px 33px;
 font-family:sans-serif;
 width:100%;
}


h1{
  margin:17.42px 0 17.42px 0;
}

.Top-content{
 margin:33px 33px 33px 33px;
}


h2{
  margin:16.185px 0 16.185px 0;
}

h5{
 margin-top:0;
 padding:0;
}

h6{
  margin:0 0;
}


th{
 display: table-cell;
 vertical-align: inherit;
 font-weight: bold;
 text-align:center;
}

.table{
 display: table;
 border-collapse: separate;
 box-sizing: border-box;
 text-indent: initial;
 border-spacing: 2px;
 border-color: grey;
}


 th{
    display:table-cell;
    vertical-align:inherit;
    font-weight:bold;
    text-align:initial-center;
   }

 td{
    padding-bottom: 7px;
    padding-left: 5px;
    padding-right: 5px;
}

 a-tag{
 display:flex;
 justify-content:space-evenly;
}

.form{
 margin-bottom:10px;
 padding:0;
}

.edit-text{
 margin:17.420px 0 5px 0;
 font-size:20px;
 font-weight:900;
}

.edit-text-content{
 font-size:10px;
}

.text-success{
 color:lime;
 margin:33px 33px 33px 33px;
}

.text{
 margin:33px 33px 33px 33px;
}

.error-messageh2{
    width:450px;
    text-align:left;
    font-weight: bold;
    padding:5px 5px 5px 15px;
    font-size: 12px;
    margin:7px;
    margin-bottom: 0;
    background-color: #c00;
    color: #fff;
    }



 .error-message{
    width: 450px;
    border: 2px solid red;
    border-top-width: 2px;
    border-right-width: 2px;
    border-bottom-width: 2px;
    border-left-width: 2px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: red;
    border-right-color: red;
    border-bottom-color: red;
    border-left-color: red;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    padding: 7px;
    padding-top: 7px;
    padding-right: 7px;
    padding-bottom: 7px;
    padding-left: 7px;
    padding-bottom: 0;
    margin-bottom: 20px;
    background-color: #f0f0f0;
}
}